<h1><%= @commit.hash_id + "@" + @commit.branch_name %></h1>
<div>
  <%= @commit.message %>
</div>
<section id="diffs">
  <% @commit.commit_diffs.each do |diff| %>
  <p><%= diff.path %></p>
  <div class="diffContainer">
    <code><pre class="diff"><%= diff.content %></pre></code>
  </div>
  <% end %>
</section>